:root {
    --bl: #2F2D3B;
    --gr: #E3E2E8;
    --rd: #F74B57;
    --wh: #FAF9FF;
    --be: #343353;
    --yl: #F8D74C;
    --bg: #F5F5F5;
    --pp: #6D6FD6;
  }
/* Colorize-zoom Container */
#Zom {
  transition: transform .5s, filter 1.5s ease-in-out;
  filter: grayscale(100%);
}

/* The Transformation */
#Zom:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
html {
  scroll-behavior: smooth;
}

/* Hover normal */
#Zo {
  transition: transform .5s, filter 1.5s ease-in-out;
}
#Zo:hover {
  transform: scale(1.1);
}
/* Hover Normal End */

.but{
  width: fit-content;
  padding: 12px;
  background-color: var(--rd);
  border-radius: 24px;
  font-weight: 500;
  color: var(--wh);
  border: none;
}


/* Flip */
.flip-card {
  background-color: transparent;
  width: 150px;
  height: 150px;
  margin: auto;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 150px;
  height: 150px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 150px;
  height: 150px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* .flip-card-front {
  background-color: #bbb;
  color: black;
} */

.flip-card-back {
  /* background-color: #2980b9;
  color: white; */
  transform: rotateY(180deg);
  border-radius: 100%;
  border: #F5F5F5 solid 2px;
  /* box-shadow: 0 4px 8px 0 rgb(255, 255, 255) */
}