:root {
    --bl: #2F2D3B;
    --gr: #9b9b9b;
    --rd: #F74B57;
    --wh: #FAF9FF;
    --be: #343353;
    --yl: #F8D74C;
    --bg: #F5F5F5;
    --pp: #6C55E1;
    --gre: #248A3D;
    --blu: #87CEEB;
    --org: #EF5222;
    --bs: 0px 4px 32px 0px rgba(0, 0, 0, 0.017);
  }
  
/* Colorize-zoom Container */
#Zom {
  transition: transform .5s, filter 1.5s ease-in-out;
  /* filter: grayscale(100%); */
}

/* The Transformation */
#Zom:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
/* Hover normal */
#Zo {
  transition: transform .5s, filter 1.5s ease-in-out;
}
#Zo:hover {
  transform: scale(1.1);
}
/* Hover Normal End */

.but{
  width: fit-content;
  padding: 12px;
  background-color: var(--pp);
  border-radius: 24px;
  font-weight: 500;
  color: var(--wh);
  border: none;
}
.but2{
  width: fit-content;
  padding: 12px;
  background-color: var(--blu);
  border-radius: 24px;
  font-weight: 500;
  color: var(--wh);
  border: none;
}

.StepProgress {
  position: relative;
  padding: 10px;
  /* list-style: none; */
  /* border-left: 3px solid var(--rd); */
}
